.AppBar.MuiPaper-root {
  box-shadow: none;
  color: black;
}

.Typography.MuiTypography-root {
  margin-left: 4vw;
  margin-right: 4vw;
}

.Typography:hover {
  text-decoration: underline;
}

[data-aos="headerLogo"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: rotate(0);
    opacity: 1;
  }
}
